.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 7.7rem;
  margin-top: 2rem;
}

.title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2rem;
}


.input {
  width: 275px;
  font-size: 1em;
  align-items: center;
  margin: 0.2rem;
  padding: 0.8rem 1rem 0.8rem 0.5rem;
  border-radius: 0.4rem;
  border: 2px solid lightgrey;
}

.loginBtn {
  color: white;
  margin: 1rem;
  padding: 0.8em;
  width: 275px;
  display: block;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #005ea2;
  border-radius: 0.4rem;
  transition: background-color 0.2s;
}

.loginBtn:hover {
    background-color: #074979;
}
.link {
    border-bottom: 4.5px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
    margin-left: 5px;
    color: #005EA2;
}

.link:hover {
  color: #074979;
  text-decoration: underline;
  /*background-color: lightgrey;*/
}

.text {
  padding: 0.1rem;
  margin: 0.62rem;
  font-size: 0.8rem;
}